<!-- If the form is touched then set the css form-shadow -->
<section class="container"[ngClass]="{'form-shadow': registrationForm.touched}">
  <header>Registration Form</header>

  <!-- Reminder, registrationForm reference variable is going to store a reference to the form as a TS/JS object -->
  <form class="form" (ngSubmit)="onFormSubmitted()" #registrationForm="ngForm">
    <div class="column">
      <div class="input-box">
        <input type="text" placeholder="First Name" 
              name="firstname" ngModel required #fname="ngModel"/>
        <div>
          <small *ngIf="fname.invalid && fname.touched">*First Name is a Required Field</small>
        </div>
        <span *ngIf="firstname">You entered: {{firstname}}</span>

      </div> 

      <div class="input-box">
        <input type="text" placeholder="Last Name" name="lastname" ngModel
              required #lname="ngModel"/>
        <div>
          <small *ngIf="lname.invalid && lname.touched">*Last Name is a Required Field</small>
          
        </div>
        <span *ngIf="lastname">You entered: {{lastname}}</span>
      </div>
    </div>    

    <div class="input-box">
      <input type="text" placeholder="Email" name="email" ngModel
           required email #email="ngModel"/>
      <div>
        <small *ngIf="email.invalid && email.touched">*Entered email is not valid</small>

      </div>
              <!-- If the emailProperty has a value, show the value. Elseif it does not have a value, then hide the text -->
              <span *ngIf="emailProperty">You entered: {{emailProperty}}</span>
    </div>



    <div class="column">
      <div class="input-box">
        <input type="number" placeholder="Phone Number" name="phoneNum" ngModel/>
      </div>
      <div class="input-box">
        <input type="date" placeholder="Date of Birth" name="dob" ngModel required #tempdob="ngModel"/>
      </div>
    </div>



    <div class="input-box">
      <input type="text" placeholder="username" name="username"
            ngModel required #uname="ngModel" />
      <button class="btn-gen-username" 
              [disabled]="fname.invalid || lname.invalid || tempdob.invalid"
              (click)="generateUsername()"
              type="button">
         Create a Username
      </button>
    </div>
    <div>
      <small *ngIf="uname.invalid && uname.touched">*Username is a required field</small>
    </div>






    <div class="gender-box">
      <h3>Gender</h3>
      <div class="gender-option">
        <div class="gender" *ngFor="let gender of genders">
          <input type="radio" [id]="gender.id" [value]="gender.value" name="gender" ngModel />
          <label [for]="gender.id">{{gender.display}}</label>
        </div>
      </div>
    </div>

    <!-- This div below is a container div for each of these address related form controls -->
    <div class="input-box address" ngModelGroup="address" #addr="ngModelGroup">
      <label>Address</label>
      <input type="text" placeholder="Street address" name="street1" ngModel required/>
      <input type="text" placeholder="Street address line 2" name="street2" ngModel required/>
      <div class="column">
        <div class="select-box">
          <select name="country" [ngModel]="defaultCountry" required>
            <option hidden>Country</option>
            <option>United States</option>
            <option>Japan</option>
            <option>India</option>
            <option>Nepal</option>
          </select>
        </div>
        <input type="text" placeholder="City" name="city" ngModel required/>
      </div>
      <div class="column">
        <input type="text" placeholder="Region" name="region" ngModel />
        <input type="number" placeholder="Postal code" name="postalCode" ngModel required/>
      </div>
    </div>

    
    <!-- Access the FormGroup invalid property using the template reference variable -->
    <small *ngIf="addr.invalid && addr.touched">*Some of the address fields do not contain a value</small>
    <!-- Using the template reference variable we can use the valid/invalid property of form -->
    <input type="submit" value="Submit" class="submit-btn" [disabled]="!registrationForm.valid"> 
  </form>
</section>

<section class="user-detail-container">
    <div class="user-details-container">
      <div class="user-avatar">
        <p>{{firstname.slice(0, 1).toUpperCase()}} {{lastname.slice(0, 1).toUpperCase()}}</p>
      </div>
      <div class="user-details">
        <div class="user-name">
          <h2>{{ firstname }} {{lastname}}</h2>
        </div>
        <p><b>Email:</b> {{ emailProperty}}</p>
        <p><b>Username:</b> {{ username}}</p>
        <p><b>Date of Birth: </b>{{dob}}</p>
        <div class="user-name">
          <h3>Address</h3>
        </div>
        <span>{{country}}</span>.
        <span>{{city}}</span>.
        <span>{{region}}</span>.
        <span>{{postCode}}</span>.
      </div>
    </div>
</section>